*,
*:after,
*:before
{
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

body
{
	font-family: sans-serif;
	width:       1000px;
	padding:     30px 20px;
	margin:      0 auto;
	color:       #333;
	font-size:   1em;
	line-height: 1.2;
}

a
{
	color: #4f88b8;
}

a:hover
{
	color: #009;
}

p
{
	line-height: 22px;
}

time,
h4 span
{
	font-family: monospace;
	font-weight: normal;
}

.nowrap
{
	white-space: nowrap;
}

td
{
	vertical-align: top;
}

.hide
{
	display: none;
}

h4
{
	cursor: pointer;
}

.avatar,
.avatar-large,
header
{
	float: left;
}

.avatar
{
	margin-top:   23px;
	margin-right: 20px;
}

.avatar-large
{
	display:      none;
	margin-top:   44px;
	margin-right: 30px;
}

header h1
{
	margin-bottom: 0;
}

header h2
{
	margin-top:  0;
	font-weight: normal;
}

header h2,
time,
h4 span
{
	color: #999;
}

h3
{
	clear: both;
}

ul.social
{
	padding-left:   0;
	list-style:     none;
	padding-bottom: 20px;
}

ul.social li
{
	float: left;
	padding-right: 12px;
}

.social span
{
	display: none;
}

@media only screen and (min-width: 1824px)
{
	*
	{
		-moz-transition:    all 0.2s ease-out;
		-o-transition:      all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		transition:         all 0.2s ease-out;
	}

	body
	{
		width:       2000px;
		font-size:   2em;
	}

	.avatar
	{
		display: none;
	}

	.avatar-large
	{
		display: inline;
	}

	p
	{
		line-height: 1.2;
	}
}

@media only screen and (max-width: 1040px)
{
	*
	{
		-moz-transition:    all 0.2s ease-out;
		-o-transition:      all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		transition:         all 0.2s ease-out;
	}

	body
	{
		padding: 10px;
		width:   100%;
	}

	.avatar
	{
		display: none;
	}

	header h1
	{
		margin-top: 0;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	*
	{
		-moz-transition:    all 0.2s ease-out;
		-o-transition:      all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		transition:         all 0.2s ease-out;
	}

	{
		-moz-transition:    all 0.2s ease-out;
		-o-transition:      all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		transition:         all 0.2s ease-out;
	}
	body
	{
		padding: 10px;
		width:   100%;
	}

	header,
	h3,
	h4,
	.social
	{
		text-align: center;
	}

	time span
	{
		display: none;
	}

	.social span
	{
		display: inline;
	}
}
