*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
article,
body,
.header-bar
{
	width: 100%;
}

body
{
	font-family: Merriweather, serif;
	line-height: 1.4;
}

a
{
	color: #19538c;
	text-decoration: none;
}

a:hover
{
	background-color: #fff4cc;
}

article h1,
article h2,
article p a,
h2,
.year h2,
.year h3
{
	font-weight: 500;
}

body,
footer p:last-child,
header h1,
.year h2,
.year ul
{
	margin: 0;
}

.close,
header,
header a,
header a:hover,
.year h2
{
	color: #fff;
}

.header-bar,
.header-container,
.years
{
	background-color: #222;
}

.header-container,
.year h2,
.year li
{
	padding: 20px;
}

.close,
footer,
.header-container
{
	text-align: center;
}

.header-greeting
{
	font-size: 80px;
	line-height: 1;
	margin-bottom: 10px;
}

.close:hover:after,
.header-intro
{
	font-size: 20px;
}

.header-intro
{
	font-weight: 300;
}

header strong
{
	color: #d4f033;
}

header strong:first-child
{
	color: #f96436;
}

header a:hover
{
	background: transparent;
}

article h1,
article h2,
article h3,
.close:after,
time,
.year h2,
.year h3
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.year h2
{
	cursor: pointer;
	font-size: 60px;
}

.year-2013 h2 { background-color: #19538c; }
.year-2012 h2 { background-color: #1d60a2; }
.year-2011 h2 { background-color: #216db7; }
.year-2010 h2 { background-color: #2579cd; }
.year-2009 h2 { background-color: #3186da; }
.year-2008 h2 { background-color: #4693de; }

.year ul
{
	background-color: #fff;
	height: 0;
	list-style: none;
	padding: 0;
	overflow: hidden;
}

.year li:nth-child(even) { background-color: #ddd; }
.year li:nth-child(odd)  { background-color: #eee; }

.header-bar,
time
{
	display: block;
}

time
{
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
}

.year p
{
	color: #666;
}

.year h3
{
	font-size: 24px;
	line-height: 28px;
}

.year h3
{
	margin: 6px 0 0;
}

.year-active h2,
.year-active ul
{
	height: auto;
}

.year-active h2
{
	font-size: 35px;
}

.year-inactive h2
{
	opacity: 0.5;
}

.close,
.header-bar
{
	position: fixed;
}

.header-bar
{
	height: 10px;
}

article
{
	margin: 0 auto;
	max-width: 900px;
	padding: 100px 50px;
}

article h1,
article h2
{
	color: #222;
}

article h1
{
	font-size: 32px;
	margin: 0 0 30px 0;
}

.close,
article p
{
	font-weight: 200;
}

article p
{
	color: #333;
	font-size: 18px;
	line-height: 1.8;
	margin: 30px 0;
}

article p a
{
	color: #4a94db;
}

.close
{
	background-color: #ccc;
	-webkit-border-radius: 50% 0 50% 50%;
	-moz-border-radius: 50% 0 50% 50%;
	border-radius: 50% 0 50% 50%;
	float: right;
	font-size: 40px;
	height: 40px;
	line-height: 46px;
	right: 10px;
	top: 20px;
	width: 40px;
}

.close:hover
{
	background-color: #e34b4f;
}

.close:hover:after
{
	color: #ccc;
	content: 'Back Home';
	left: -110px;
	position: absolute;
}

footer
{
	border: solid #ebeff1;
	border-width: 2px 0;
	margin: 50px 0;
	padding: 30px;
}

footer img
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 20px;
}

footer h3
{
	margin-top: 0;
}

footer p
{
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	a,
	header,
	.header-container,
	.header-container h1,
	.header-container h1 div,
	.years,
	.year,
	.year h2,
	.year ul
	{
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	html,
	body,
	.years,
	.year,
	.year h2,
	.year-active ul
	{
		height: 100%;
	}

	body.home
	{
		overflow: hidden;
	}

	footer,
	.header-container
	{
		text-align: left;
	}

	header,
	.header-container
	{
		height: 214px;
	}

	.years
	{
		width: 101%;
	}

	footer img,
	.year
	{
		float: left;
	}

	.year
	{
		width: 17%;
	}

	.year-2013,
	.year-2008
	{
		width: 16%;
	}

	.year h2,
	.year li
	{
		padding: 20px 50px;
	}

	.year-active
	{
		width: 25%;
	}

	.year-active h2
	{
		height: 83px;
	}

	.year-active ul
	{
		overflow-y: scroll;
		/* TODO */
		padding-bottom: 93px;
	}

	.year-inactive
	{
		width: 15%;
	}

	.header-inactive,
	.header-inactive .header-container
	{
		height: 10px;
		position: relative;
		z-index: -1;
	}

	footer img
	{
		margin: 0 50px 50px 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
