*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*
{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

html,
body,
.years,
.year,
.year h2
{
	height: 100%;
}

body,
h1
{
	font-family: Merriweather, serif;
}

body
{
	background-color: #000;
	overflow: hidden;
	padding-top: 140px;
}

a
{
	color: #19538c;
}

a:hover
{
	background-color: #fff4cc;
	text-decoration: none;
}

.navbar-header,
.years
{
	width: 100%;
}

.navbar-header
{
	color: #eee;
	height: 140px;
	text-align: center;
}

.navbar-header a
{
	color: #999;
}

h1 span
{
	color: #f96436;
}

.years
{
	background-color: #000;
}

.year
{
	width: 17%;
	float: left;
}

.year h2,
.year ul
{
	margin: 0;
}

.year h2
{
	color: #fff;
	cursor: pointer;
	font-size: 60px;
	padding: 20px 50px;
}

.year-2013,
.year-2008
{
	width: 16%;
}

.year-2013 h2 { background-color: #19538c; }
.year-2012 h2 { background-color: #1d60a2; }
.year-2011 h2 { background-color: #216db7; }
.year-2010 h2 { background-color: #2579cd; }
.year-2009 h2 { background-color: #3186da; }
.year-2008 h2 { background-color: #4693de; }

.year ul
{
	background: #fff;
	height: 0;
	list-style: none;
	padding: 0;
}

.year li:nth-child(even) { background-color: #ddd; }
.year li:nth-child(odd)  { background-color: #eee; }

.year li
{
	padding: 20px 50px;
	text-decoration: none;
}

.year time
{
	color: #999;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.year h3
{
	margin: 6px 0 4px;
	line-height: 28px;
}

.year-active
{
	width: 25%;
}

.year-active h2
{
	font-size: 35px;
	height: 78px;
}

.navbar-inactive,
.year-inactive h2
{
	opacity: 0.5;
}

.year-active ul
{
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 78px;
}

.year-inactive
{
	width: 15%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
