*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*
{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

html,
body,
.year
{
	height: 100%;
}

body
{
	font-family: Merriweather, serif;
	padding-top: 50px;
	overflow: hidden;
}

a
{
	color: #19538c;
}

a:hover
{
	background-color: #fff4cc;
	text-decoration: none;
}

.years
{
	background-color: #000;
	height: 100%;
	width: 100%;
}

.year
{
	width: 17%;
	float: left;
}

.year h2
{
	color: #fff;
	cursor: pointer;
	font-size: 60px;
	height: 100%;
	margin: 0;
	padding: 20px 50px;
}

.year-2013,
.year-2008
{
	width: 16%;
}

.year-2013 h2 { background-color: #19538c; }
.year-2012 h2 { background-color: #1d60a2; }
.year-2011 h2 { background-color: #216db7; }
.year-2010 h2 { background-color: #2579cd; }
.year-2009 h2 { background-color: #3186da; }
.year-2008 h2 { background-color: #4693de; }

.year ul
{
	background: #fff;
	height: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.year li:nth-child(even) { background-color: #ddd; }
.year li:nth-child(odd)  { background-color: #eee; }

.year li
{
	padding: 20px 50px;
	text-decoration: none;
}

.year time
{
	color: #999;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.year h3
{
	margin: 6px 0 4px;
	line-height: 28px;
}

.year-active
{
	width: 25%;
}

.year-active h2
{
	font-size: 35px;
	height: 78px;
}

.year-inactive h2
{
	opacity: 0.5;
}

.year-active ul
{
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 78px;
}

.year-inactive
{
	width: 15%;
}
