---
layout: default
title:  joshtronic
---

<div class="home">
	{% assign year = nil %}
	<h1 class="hide">Blog Posts</h1>
	{% for post in site.posts %}
		{% assign current_year = post.date | date: "%Y" %}
		{% if year != current_year %}
			{% if year != nil %}
				</table>
			{% endif %}
			<h2{% if year == nil %} class="top"{% endif %}>{{ current_year }}</h2>
			<table>
			{% assign year = current_year %}
		{% endif %}
		<tr>
			<td class="nowrap"><time>{{ post.date | date: "%b %d" }}</time>{{ site.delimiter }}</td>
			<td><a href="{{ post.url }}">{{ post.title }}</a></td>
		</tr>
	{% endfor %}
	</table>
</div>
