---
layout: default
title:  home
---

<div class="years">
	{% assign year = nil %}
	{% assign index = 0 %}
	{% for post in site.posts %}
		{% assign current_year = post.date | date: "%Y" %}
		{% if year != current_year %}
			{% if year != nil %}
				</ul></div>
				{% assign active = 'inactive' %}
			{% else %}
				{% assign active = 'active' %}
			{% endif %}
			<a name="{{ current_year }}"></a>
			<div
				class="year year-{{ current_year }} year-{{ active }}"
				data-year="{{ current_year }}"
				data-index="{{ index }}"
			>
				<h2>{{ current_year }}</h2>
				<ul class="posts-{{ current_year }}">
			{% assign year = current_year %}
			{% assign index = index | plus:1 %}
		{% endif %}
		<li>
			<time>{{ post.date | date: "%-d %B %Y" }}</time>
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.content | strip_html | truncatewords: 50 | xml_escape }}</p>
			<a href="{{ post.url }}">Continue reading&hellip;</a>
		</li>
	{% endfor %}
	</ul></div>
</div>
<div class="year-nav year-nav-newer year-nav-disabled">&#9194;</div>
<div class="year-nav year-nav-older">&#9193;</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5365fe347fa8bfb1"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'cvanfoss'},
        {'service': 'twitter', 'id': 'cvanfoss'},
        {'service': 'linkedin', 'id': 'chrisvanfossen'},
        {'service': 'instagram', 'id': 'cvanfoss'}
      ]
    },  
    'whatsnext' : {},  
    
  });
</script>