<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title != site.username %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="MRXsMFbQBPSmzagl6zWkoL2WfXqvrsF-Hp2VkdjJ-UQ" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="{{ site.avatar }}?s=16" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}: {{ site.description }}" href="http://feeds.feedburner.com/joshtronic" />
		<link rel="stylesheet" type="text/css" href="/css/core.css" />
	</head>

	<body>
		{{ content }}

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2119050-11']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
