<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title != site.github %}{{ page.title }} by {% endif %}{{ site.name_full }}</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link rel="shortcut icon" href="{{ site.gravatar }}?s=16">
		<link rel="alternate" type="application/atom+xml" href="http://feeds.feedblitz.com/joshtronic&x=1" title="{{ site.title }}: {{ site.description }}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,700,300">
		<link rel="stylesheet" type="text/css" href="/css/core.css">
	</head>
	<body{% if page.title == site.github %} class="home"{% endif %}>
		{% if page.title == site.github %}
			<header>
				<div class="header-container">
					<h1>
						<div class="header-greeting">Hello.</div>
						<div class="header-intro">
							My name is <strong>{{ site.name_full }}</strong> and I am a thirty something <strong>full stack hacker</strong> with a <strong>passion</strong> for building tools <strong>that bring people together</strong>. Husband, father and the Chief Alchemist &amp; Founder of <a href="http://gravityblvd.com" target="_blank">Gravity Boulevard</a>.
						</div>
					</h1>
				</div>
			</header>
		{% else %}
			<header class="header-bar"></header>
		{% endif %}
		{{ content }}

		<!--aside>

			<h4>Subscribe to Updates</h4>

			<form name="FeedBlitz_928bb9dca07311e2aedc00259077114b" style="display:inline" method="POST" action="http://www.feedblitz.com/f/f.fbz?AddNewUserDirect">
				<input style="display:none" name="EMAIL" maxlength="64" type="text" size="25" value="" placeholder="Enter your email">
				<input name="EMAIL_" maxlength="64" type="hidden" size="25" value="">
				<input name="EMAIL_ADDRESS" maxlength="64" type="hidden" size="25" value="">
				<input name="FEEDID" type="hidden" value="892322">
				<input name="PUBLISHER" type="hidden" value="32862926">
				<input type="button" value="Subscribe" onClick="FeedBlitz_928bb9dca07311e2aedc00259077114bs(this.form);">
			</form>
			<script>function FeedBlitz_928bb9dca07311e2aedc00259077114bi(){var x=document.getElementsByName('FeedBlitz_928bb9dca07311e2aedc00259077114b');for(i=0;i<x.length;i++){x[i].EMAIL.style.display='inline'; x[i].action='http://www.feedblitz.com/f/f.fbz?AddNewUserDirect';}} function FeedBlitz_928bb9dca07311e2aedc00259077114bs(v){v.submit();}FeedBlitz_928bb9dca07311e2aedc00259077114bi();</script>

			<a href="http://www.addthis.com/feed.php?h1=http%3A%2F%2Ffeeds.feedblitz.com%2Fjoshtronic&amp;x=1"><img src="http://s7.addthis.com/static/btn/v2/lg-rss-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcc6b6c6c8b799e"></script>

		</aside-->

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/js/core.js"></script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2119050-11']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- HitTail Code -->
		<script type="text/javascript">
			(function(){ var ht = document.createElement('script');ht.async = true;
			  ht.type='text/javascript';ht.src = '//106085.hittail.com/mlt.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ht, s);})();
		</script>
	</body>
</html>
