<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title != site.username %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.description }}{% endif %}</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link rel="shortcut icon" href="{{ site.avatar }}?s=16">
		<link rel="alternate" type="application/atom+xml" href="http://feeds.feedblitz.com/joshtronic&x=1" title="{{ site.title }}: {{ site.description }}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,700,300">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/core.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!--img src="{{ site.avatar }}?s=128" class="img-circle"-->
			<div class="navbar-header">
				<h1>Hello, my name is <span>Joshua Sherman</span></h1>
				<p>and I am a full stack hacker with a passion for building tools that bring people together.</p>
				<p>Husband, father and the Founder &amp; Chief Alchemist of <a href="http://gravityblvd.com" target="_blank">Gravity Boulevard</a>.</p>
				<!--a class="navbar-brand" href="/">Joshua Sherman</a-->
			</div>
		</nav>
		{{ content }}


		<!--aside>
			<div class="title">{{ site.title }}</div>
			<div class="tagline">{{ site.description }}</div>

			<div class="divider"></div>

			<h4>Socially Antisocial</h4>

			<div class="social-wrapper">
				<ul class="social">
					<li><a target="_blank" href="https://www.facebook.com/joshtronic" title="Facebook">
						<i class="facebook"></i>
					</a></li>
					<li><a target="_blank" href="https://github.com/joshtronic" title="GitHub">
						<i class="github"></i>
					</a></li>
					<li><a target="_blank" href="https://plus.google.com/101157643857165190574" title="Google+">
						<i class="google"></i>
					</a></li>
					<li><a target="_blank" href="http://instagram.com/joshtronic" title="Instagram">
						<i class="instagram"></i>
					</a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/joshsherman" title="LinkedIn">
						<i class="linkedin"></i>
					</a></li>
					<li><a target="_blank" href="http://steamcommunity.com/id/joshtronic" title="Steam">
						<i class="steam"></i>
					</a></li>
					<li><a target="_blank" href="http://joshtronic.tumblr.com/" title="Tumblr">
						<i class="tumblr"></i>
					</a></li>
					<li><a target="_blank" href="https://twitter.com/joshtronic" title="Twitter">
						<i class="twitter"></i>
					</a></li>
				</ul>
			</div>

			<br>
			<div class="divider"></div>

			<h4>Subscribe to Updates</h4>

			<form name="FeedBlitz_928bb9dca07311e2aedc00259077114b" style="display:inline" method="POST" action="http://www.feedblitz.com/f/f.fbz?AddNewUserDirect">
				<input style="display:none" name="EMAIL" maxlength="64" type="text" size="25" value="" placeholder="Enter your email">
				<input name="EMAIL_" maxlength="64" type="hidden" size="25" value="">
				<input name="EMAIL_ADDRESS" maxlength="64" type="hidden" size="25" value="">
				<input name="FEEDID" type="hidden" value="892322">
				<input name="PUBLISHER" type="hidden" value="32862926">
				<input type="button" value="Subscribe" onClick="FeedBlitz_928bb9dca07311e2aedc00259077114bs(this.form);">
			</form>
			<script>function FeedBlitz_928bb9dca07311e2aedc00259077114bi(){var x=document.getElementsByName('FeedBlitz_928bb9dca07311e2aedc00259077114b');for(i=0;i<x.length;i++){x[i].EMAIL.style.display='inline'; x[i].action='http://www.feedblitz.com/f/f.fbz?AddNewUserDirect';}} function FeedBlitz_928bb9dca07311e2aedc00259077114bs(v){v.submit();}FeedBlitz_928bb9dca07311e2aedc00259077114bi();</script>

			<a href="http://www.addthis.com/feed.php?h1=http%3A%2F%2Ffeeds.feedblitz.com%2Fjoshtronic&amp;x=1"><img src="http://s7.addthis.com/static/btn/v2/lg-rss-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcc6b6c6c8b799e"></script>

			<br>
			<div class="divider"></div>

			<div class="divider"></div>

			<a href="/privacy">Privacy Policy</a>
		</aside-->

		<!-- div id="main">
			{{ content }}
		</div-->

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/core.js"></script>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2119050-11']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- HitTail Code -->
		<script type="text/javascript">
			(function(){ var ht = document.createElement('script');ht.async = true;
			  ht.type='text/javascript';ht.src = '//106085.hittail.com/mlt.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ht, s);})();
		</script>
	</body>
</html>
