---
layout: default
---

<a href="/" class="close">&times;</a>
<article>
	<time>
		{{ page.date | date: "%-d %B %Y" }}
		&ndash; <a href="http://eepurl.com/TYvg1">Hear more from Chris</a>
	</time>
	<h1>{{ page.title }}</h1>


	{{ content }}

	<footer>
		<img src="{{ site.gravatar }}?s=128">
		<p><strong>{{ site.name_full }}</strong> works for the Internet. Always looking to learn, talk, move, &amp; play.</p>
		<p>Connect with <strong>{{ site.name_first }}</strong> on <a href="https://github.com/chrisvanfossen" target="_blank">GitHub</a>, <a href="http://instagram.com/cvanfoss" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/in/chrisvanfossen" target="_blank">LinkedIn</a> and <a href="http://twitter.com/cvanfoss" target="_blank">Twitter</a>.</p>
	</footer>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5365fe347fa8bfb1"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'cvanfoss'},
        {'service': 'twitter', 'id': 'cvanfoss'},
        {'service': 'linkedin', 'id': 'chrisvanfossen'},
        {'service': 'instagram', 'id': 'cvanfoss'}
      ]
    },  
    'whatsnext' : {},  
    'recommended' : {} 
  });
</script>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'cvanfoss';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<article>

<div style="text-align:center"><a href="/privacy">Privacy Policy</a></div>
