---
layout: default
---

<a href="/" class="close">&times;</a>
<article>
	<time>
		{{ page.date | date: "%-d %B %Y" }}
		&ndash; <a href="http://www.feedblitz.com/f/?Sub=892322">Get free updates of new posts here</a>
	</time>
	<h1>{{ page.title }}</h1>

	{{ content }}

	<footer>
		<img src="{{ site.gravatar }}?s=128">
		<p><strong>{{ site.name_full }}</strong> is a thirty something full stack hacker with a passion for building tools that bring people together. Husband, father and the Chief Alchemist &amp; Founder of <a href="http://gravityblvd.com" target="_blank">Gravity Boulevard</a>.</p>
		<p>Connect with <strong>{{ site.name_first }}</strong> on <a href="https://github.com/joshtronic" target="_blank">GitHub</a>, <a href="http://instagram.com/joshtronic" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/in/joshsherman" target="_blank">LinkedIn</a> and <a href="http://twitter.com/joshtronic" target="_blank">Twitter</a>.</p>
	</footer>

	<!-- AddThis Smart Layers BEGIN -->
	<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcc6b6c6c8b799e"></script>
	<script type="text/javascript">
	  addthis.layers({
		'theme' : 'transparent',
		'share' : {
		  'position' : 'left',
		  'numPreferredServices' : 5
		},
		'whatsnext' : {},
		'recommended' : {}
	  });
	</script>
	<!-- AddThis Smart Layers END -->

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'joshtronic';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<article>
